<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Archiwum</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
</head>
<body>
	<!-- Header -->
	<div id="header">
		<div class="shell">
			<!-- Logo -->
			<h1 id="logo" class="notext"><a href="index">Amateur Football</a></h1>
			<!-- End Logo -->
		</div>
	</div>
	<!-- End Header -->
	
	<!-- Navigation -->
	<div id="navigation">
		<div class="shell">
			<div class="cl">&nbsp;</div>
			<ul>
				<li><a href="playerList">Gracze</a></li>
				<li><a href="teamList">Drużyny</a></li>
			    <li><a href="matchResults">Wyniki</a></li>
			    <li><a href="matchSchedule">Harmonogram</a></li>
			    <li><a href="#">Statystyki</a></li>
			    <li><a href="registration">REJESTRACJA</a></li>
			    <li>
				    <a href="login">
				    	<div th:if="${session.nameUserLogged == null}">Zaloguj się</div>
				    	<a th:if="${session.nameUserLogged != null}">
				    		<a href="logout">
				    			<div th:text="${session.nameUserLogged}"/>(WYLOGUJ)
				    		</a>
				    	</a>
				    </a>
			    </li>
			</ul>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Navigation -->
	
	<!-- Heading -->
	<div id="heading">
		<div class="shell">
			<div id="heading-cnt">
				
				<!-- Sub nav -->
				<div id="side-nav">
					<ul>
					    <li class="active"><div class="link"><a href="index">Strona Główna</a></div></li>
					    <li><div class="link"><a href="registration">Załóż konto Trenera!</a></div></li>
					    <li><div class="link"><a href="infoSite">Informacje o Stronie</a></div></li>
					    <li><div class="link"><a href="#">POMOC</a></div></li>
			    	    <li><div class="link"><a href="contact">KONTAKT</a></div></li>
					</ul>
				</div>
				<!-- End Sub nav -->
				
				<!-- Widget -->
				<div id="heading-box">
					<div id="heading-box-cnt">
						<div class="featured-side">
							<div class="featured-side-item">
								<div id="sidebar2" class="center">
									<h1>Kontakt</h1>
									<ul>
										<li></li>
										<li>
											<small class="date"><div>Imie i Nazwisko</div></small>
								    		<p2>Arkadiusz Czarnowski</p2>	
										</li>
										<li>
											<small class="date"><div>E-mail</div></small>
											<p2>a_czarnowski@o2.pl</p2>	
										</li>
										<li>
											<small class="date"><div>Telefon</div></small>
											<p2>510-988-967</p2>	
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="cl">&nbsp;</div>						
					</div>
				</div>
				<!-- End Widget -->
			</div>			
		</div>
	</div>
	<!-- End Heading -->
	
	<!-- Main -->
	<div id="main">
		<div class="shell">		
			<div class="cl">&nbsp;</div>	
			<div id="content">
				<div class="cl">&nbsp;</div>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
		<!-- End Main -->
	
	<!-- Footer -->
	<div id="footer">
		<div class="shell">
			<div class="cl">&nbsp;</div>
			<!-- <a href="#" class="left">PRIVACY POLICY</a> -->
				<p class="center">System powstał w wyniku realizacji pracy dyplomowej na Wydziale Informatyki Politechniki Białostockiej. </p>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Footer -->
</body>
</html>