<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<title>Rejestracja</title>
	<link rel="stylesheet" href="css/style_card_regPlayer.css" type="text/css" media="all" />
</head>


 <body>
	<div class="card">
		<h1>Edycja Gracza</h1>
		
		<div th:if="${numberExist == true}">
			<p class="error center">Podany numer gracza jest zajęty!</p>
		</div>
		
		<form action="#" th:action="@{/editPlayer}" th:object="${player}" method="post">
		
			<input type="hidden" th:field="*{id_player}"/>
			<input type="hidden" th:field="*{team.id_team}"/>
		
			<input type="reset" id="previous" class="button2 button-switch" value="&lt;&lt;"/>
			<input type="reset" id="next" class="button2 button-switch" value="&gt;&gt;"/><p></p>
	
			<div class="info">Numer gracza: </div>
			<input type="text" th:field="*{number}" th:class="${#fields.hasErrors('number')}? 'error'"/><br/>
			
			<div class="info">Imie: </div>
			<div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
			<input type="text" th:field="*{name}" placeholder="Imie" th:class="${#fields.hasErrors('name')}? 'error'" /><br/>
			
			<div class="info">Nazwisko: </div>
			<div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"/>
			<input type="text" th:field="*{surname}" placeholder="Nazwisko" th:class="${#fields.hasErrors('surname')}? 'error'" /><br/>
			
			<div class="info">Wiek: </div>
			<div class="error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"/>	
			<input type="text" th:field="*{age}" th:class="${#fields.hasErrors('age')}? 'error'"/><br/>
	
			<div class="info">Wybierz pozycję: </div>
			<select th:field="*{position}">
				<option th:value="'atakujacy'" th:text="'Atakujący'"/>
				<option th:value="'pomocnik'" th:text="'Pomocnik'"/>
				<option th:value="'obronca'" th:text="'Obrońca'"/>
				<option th:value="'bramkarz'" th:text="'Bramkarz'"/>
				<option th:value="'rezerwowy'" th:text="'Rezerwowy'"/>
			</select>
			<p></p>
			<input type="button" id="cancel" class="button2 button-cancel" value="ANULUJ"/>
			<input type="submit" class="button button-submit" value="ZATWIERDŹ"/>
		</form>

		<div class="help">
			<p class="coachSite"><a href="coachSite">Strona TRENERA</a></p>
			<p class="index"><a href="index">Strona Główna</a></p>
		</div>	
	</div>
	
		
	<script type="text/javascript">
	    document.getElementById("previous").onclick = function () {
	        location.href = "/editPlayer/previous";
	    };
	    document.getElementById("next").onclick = function () {
	        location.href = "/editPlayer/next";
	    };
	    document.getElementById("cancel").onclick = function () {
	        location.href = "/coachSite";
	    };
	</script>
 </body>
</html>
