<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>AmateurFootball</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
</head>
<body>
	<!-- Header -->
	<div id="header">
		<div class="shell">
			<!-- Logo -->
			<h1 id="logo" class="notext"><a href="index">Amateur Football</a></h1>
			<!-- End Logo -->
		</div>
	</div>
	<!-- End Header -->
	
	<!-- Navigation -->
	<div id="navigation">
		<div class="shell">
			<div class="cl">&nbsp;</div>
			<ul>
				<li><a href="index">Aktualności</a></li>
				<li><a href="#">Drużyny</a></li>
			    <li><a href="#">Tabele</a></li>
			    <li><a href="#">Wyniki</a></li>
			    <li><a href="#">Harmonogram</a></li>
			    <li><a href="#">Statystyki</a></li>
			    <li>
				    <a href="login">
				    	<div th:if="${session.nameUserLogged == null}">Zaloguj się</div>
				    	<a th:if="${session.nameUserLogged != null}">
				    		<a href="logout">
				    			<div th:text="${session.nameUserLogged}"/>(WYLOGUJ)
				    		</a>
				    	</a>
				    </a>
			    </li>
			</ul>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Navigation -->
	
	<!-- Heading -->
	<div id="heading">
		<div class="shell">
			<div id="heading-cnt">
				
				<!-- Sub nav -->
				<div id="side-nav">
					<ul>
					    <li class="active"><div class="link"><a href="index">Strona Główna</a></div></li>
					    <li th:if="${session.nameUserLogged == null}">
					    	<a href="registration" class="link">Załóż konto Trenera!</a>
					    </li>
					    <li th:if="${session.nameUserLogged == 'admin'}">
					    	<a href="admin" class="link">Strona ADMINA</a>
					    </li>
					    <li th:if="${session.nameUserLogged != null}">
					    	<a href="coachSite" class="link">Strona TRENERA</a>
					    </li>
					    <li th:if="${session.nameUserLogged != 'admin'}"><div class="link"><a href="infoSite">Informacje o Stronie</a></div></li>
					    <li th:if="${session.nameUserLogged != 'admin'}"><div class="link"><a href="#">POMOC</a></div></li>
			    	    <li th:if="${session.nameUserLogged != 'admin'}"><div class="link"><a href="contact">KONTAKT</a></div></li>
					</ul>
				</div>
				<!-- End Sub nav -->
				
				<!-- Widget -->
				<div id="heading-box">
					<div id="heading-box-cnt">
						<div class="cl">&nbsp;</div>
						
						<div class="featured-side">
							<div class="featured-side-item">
								<div id="sidebar2">
									<h4 class="center">Wyniki Rozegranych Meczy</h4>
										
								    <table border="1" class="center">
										<tr>
											<td><b>Nazwa Drużyny Pierwszej</b></td>
											<td><b>Nazwa Drużyny Drugiej</b></td>
											<td><b>Data</b></td>
											<td><b>Godzina</b></td>
											<td><b>Wynik</b></td>
											<td><b>Stadion (Miasto)</b></td>
										</tr> 
										<tr th:each="match : ${matches}">
											<div th:each="team : ${teams}"> 
												<div th:if="${team.getId_team() == match.getFirst_team_id()}">
													<td th:text="${team.getName()}"/>
												</div>
												<div th:if="${team.getId_team() == match.getSecond_team_id()}"> 
													<td th:text="${team.getName()}"/>
												</div>
											</div>
											
											<td th:text="${match.getDate()}" />
											<td th:text="${match.getHour()}"/>
											
											<div th:each="matchStat : ${matchStats}" th:if="${match.getId_match() == matchStat.match.getId_match()}">
												<td th:text="${matchStat.getResult_match()}"/>
											</div>
											
											<div th:if="${match.getMatchStatistics() == null}">
												<td>- : -</td>
											</div>
											
											<div th:each="stadium : ${stadiums}" th:if="${stadium.getId_stadium() == match.stadium.getId_stadium()}" >
												<td th:text="${stadium.getName() + ' (' + stadium.getCity() + ')'}"/>
											</div>
										</tr> 
									</table>
								</div>
							</div>
						</div>
						<div class="cl">&nbsp;</div>						
					</div>
				</div>
				<!-- End Widget -->
				
			</div>			
		</div>
	</div>
	<!-- End Heading -->
	
	<div id="main">
	</div>
	
	<!-- Footer -->
	<div id="footer">
		<div class="shell">
			<div class="cl">&nbsp;</div>
			<!-- <a href="#" class="left">PRIVACY POLICY</a> -->
				<p class="center">System powstal w wyniku realizacji pracy dyplomowej na Wydziale Informatyki Politechniki Bialostockiej. </p>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Footer -->
</body>
</html>