<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Rejestracja</title>
	<link rel="stylesheet" href="css/style_card_regTeam.css" type="text/css" media="all" />
</head>

 <body>
	<div class="card">
		<h1>Rejestracja Drużyny</h1>
		
		<div th:if="${nameExist == true}">
			<p class="error center">Podana nazwa drużyny jest już zajęta!</p>
		</div>
		<div th:if="${trainAlready == true}">
			<p class="error center">Trenujesz już jedną drużynę! (By zgłosić kolejną drużynę, należy stworzyć drugiego trenera)</p>
		</div>
		<div th:if="${session.addTeamInfo == true}">
			<p class="error center">Wpierw załóż drużynę przed dodaniem gracza!</p>
		</div>
		<div th:if="${session.addTeamBeforeNotify == true}">
			<p class="error center">Wpierw dodaj drużynę zanim ją zgłosisz!</p>
		</div>
		
		<form action="#" th:action="@{/addTeam}" th:object="${team}" method="post">
		
			<div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
			<input type="text" th:field="*{name}" placeholder="Nazwa Drużyny" th:class="${#fields.hasErrors('name')}? 'error'" /><br/>
			
			<div class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"/>	
			<input type="text" th:field="*{city}" placeholder="Miasto" th:class="${#fields.hasErrors('city')}? 'error'"/><br/>
	
			<div class="info">Wybierz stadion:</div>
			<select th:field="*{stadium.id_stadium}">
				<option th:each="st : ${stadium}" th:value="${st.id_stadium}" th:text="${st.getName()} + ' (' + ${st.getCity()} + ')'"/>
			</select>
			<p></p>
			<input type="reset" id="add" class="button2 button-add" value="Dodaj Stadion"/>
			<p></p>
			<input type="submit" class="button button-submit" value="REJESTRUJ"/>
		</form>
		
		<hr></hr>
		<div class="help">
			<p class="coachSite"><a href="coachSite">Strona TRENERA</a></p>
			<p class="index"><a href="index">Strona Główna</a></p>
		</div>	
	</div>
	
	<script type="text/javascript">
	    document.getElementById("add").onclick = function () {
	        location.href = "/addStadium";
	    };
	</script>
	
 </body>
</html>
