<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>AmateurFootball</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
</head>
<body>
	<!-- Header -->
	<div id="header">
		<div class="shell">
			<!-- Logo -->
			<h1 id="logo" class="notext"><a href="index">Amateur Football</a></h1>
			<!-- End Logo -->
		</div>
	</div>
	<!-- End Header -->
	
	<!-- Navigation -->
	<div id="navigation">
		<div class="shell">
			<div class="cl">&nbsp;</div>
			<ul>
				<li><a href="playerList">Gracze</a></li>
				<li><a href="teamList">Drużyny</a></li>
			    <li><a href="matchResults">Wyniki</a></li>
			    <li><a href="matchSchedule">Harmonogram</a></li>
			    <li><a href="statistics">Statystyki</a></li>
			    <li><a href="registration">REJESTRACJA</a></li>
			    <li>
				    <a href="login">
				    	<div th:if="${session.nameUserLogged == null}">Zaloguj się</div>
				    	<a th:if="${session.nameUserLogged != null}">
				    		<a href="logout">
				    			<div th:text="${session.nameUserLogged}"/>(WYLOGUJ)
				    		</a>
				    	</a>
				    </a>
			    </li>
			</ul>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Navigation -->
	
	<!-- Heading -->
	<div id="heading">
		<div class="shell">
			<div id="heading-cnt">
				<!-- Sub nav -->
				<div id="side-nav">
					<ul>
					    <li class="active"><div class="link"><a href="index">Strona Główna</a></div></li>
					    <li th:if="${session.nameUserLogged == null}">
					    	<a href="registration" class="link">Załóż konto Trenera!</a>
					    </li>
					    <li th:if="${session.nameUserLogged == 'admin'}">
					    	<a href="admin" class="link">Strona ADMINA</a>
					    </li>
					    <li th:if="${session.nameUserLogged != null}">
					    	<a href="coachSite" class="link">Strona TRENERA</a>
					    </li>
					    <li th:if="${session.nameUserLogged != 'admin'}"><div class="link"><a href="infoSite">Informacje o Stronie</a></div></li>
					    <li th:if="${session.nameUserLogged != 'admin'}"><div class="link"><a href="#">POMOC</a></div></li>
			    	    <li th:if="${session.nameUserLogged != 'admin'}"><div class="link"><a href="contact">KONTAKT</a></div></li>
					</ul>
				</div>
				<!-- End Sub nav -->
				
				<!-- Widget -->
				<div id="heading-box">
					<div id="heading-box-cnt">
						<div class="featured-main">
						
							<img src="images/featured-main.png"/>
							
							<div class="featured-main-details">
								<div class="featured-main-details-cnt">									
									<h4>Informacje o nadchodzących meczach</h4>
									
									<p>Już niebawem, mecz ligi podwórkowej !</p>
								</div>
							</div>
						</div>
						
						<div class="featured-side">
							<div class="featured-side-item">

								<h4 class="center">Mini Tabela Drużyn</h4>
								
									<table border="1" class="center">
										<tr>
											<td><b>Miejsce</b></td>
											<td><b>Nazwa Drużyny</b></td>
											<td><b>Bramki<br></br>(Trafione:Stracone)</b></td>
											<td><b>Pkt</b></td>
										</tr> 
										<tr th:each="team : ${teams}">
											<td th:text="${team.getRanked()}"/>
											<td th:text="${team.getName()}"/>
											<td th:text=" '(' + ${team.getGoals_hit()} + ' : ' + ${team.getGoals_lost() + ')'}" />
											<td th:text="${team.getPoints()}"/>
										</tr> 
									</table><br></br>
							
									<h4 class="center">Mini Tabela Strzelców</h4>
									
									<table border="1" class="center">
										<tr>
											<td><b>Miejsce</b></td>
											<td><b>Imie i Nazwisko</b></td>
											<td><b>Num</b></td>
											<td><b>Bramki</b></td>
											
										</tr> 
										<tr th:each="player : ${players}">
											<td th:text="${player.getRanked()}"/>
											<td th:text="${player.getName()}"/>
											<td th:text="${player.getNumber()}"/>
											<td th:text="${player.getGoals()}"/>
										</tr> 
									</table>
							</div>
						</div>
						
						<div class="cl">&nbsp;</div>						
					</div>
				</div>
				<!-- End Widget -->
				
			</div>			
		</div>
	</div>
	<!-- End Heading -->
	
	<!-- Main -->
	<div id="main">
		<div class="shell">		
			<div class="cl">&nbsp;</div>	
			<div id="sidebar">
				<h2>NOWOŚCI</h2>
				<ul>
				    <li th:each="newsObject, iterStat : ${news}" th:if="${iterStat.index >= iterStat.size-3}">
				    	<small class="date"> <div th:text="${newsObject.getDate()}"/></small>
				    	<p th:text="${newsObject.getMessage()}"/>
				    </li>
				</ul>
				<a href="news" class="archives">Archiwum Nowości</a>
			</div>
			<div id="content">
				<div class="video-box">
					<h1 class="green center">Wyniki Ostatnich Meczy</h1><hr></hr><br></br><br></br>
					
					<div class="video-item-box center">
						<a class="left"><img src="images/video-1.png"/></a>
						<a class="blue" th:text="${teamsList[0].getName()}"></a>
						<a class="error" th:text="${matchesList[0].getMatchStatistics().getResult_match()}"></a>
						<a class="blue" th:text="${teamsList[1].getName()}"/>
						<p th:text="${matchesList[0].getDate()}"/>
						<a th:href="@{/matchDetails/}+${matchesList[0].getId_match()}" class="watch-now">Szczegóły</a>
					</div>
				
					<div class="video-item-box second center" >
						<a class="left"><img src="images/video-2.png" /></a>
						<a class="blue" th:text="${teamsList[2].getName()}"></a>
						<a class="error" th:text="${matchesList[1].getMatchStatistics().getResult_match()}"></a>
						<a class="blue" th:text="${teamsList[3].getName()}"/>
						<p th:text="${matchesList[1].getDate()}"/>
						<a th:href="@{/matchDetails/}+${matchesList[1].getId_match()}" class="watch-now">Szczegóły</a>
					</div>
				</div>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Main -->
	
	<!-- Footer -->
	<div id="footer">
		<div class="shell">
			<div class="cl">&nbsp;</div>
			<!-- <a href="#" class="left">PRIVACY POLICY</a> -->
				<p class="center">System powstal w wyniku realizacji pracy dyplomowej na Wydziale Informatyki Politechniki Bialostockiej. </p>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Footer -->
</body>
</html>