<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Archiwum</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
</head>
<body>
	<!-- Header -->
	<div id="header">
		<div class="shell">
			<!-- Logo -->
			<h1 id="logo" class="notext"><a href="index">Amateur Football</a></h1>
			<!-- End Logo -->
		</div>
	</div>
	<!-- End Header -->
	
	<!-- Navigation -->
	<div id="navigation">
		<div class="shell">
			<div class="cl">&nbsp;</div>
			<ul>
				<li><a href="playerList">Gracze</a></li>
				<li><a href="teamList">Drużyny</a></li>
			    <li><a href="matchResults">Wyniki</a></li>
			    <li><a href="matchSchedule">Harmonogram</a></li>
			    <li><a href="statistics">Statystyki</a></li>
			    <li><a href="registration">REJESTRACJA</a></li>
			    <li>
				    <a href="login">
				    	<div th:if="${session.nameUserLogged == null}">Zaloguj się</div>
				    	<a th:if="${session.nameUserLogged != null}">
				    		<a href="logout">
				    			<div th:text="${session.nameUserLogged}"/>(WYLOGUJ)
				    		</a>
				    	</a>
				    </a>
			    </li>
			</ul>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Navigation -->
	
	<!-- Heading -->
	<div id="heading">
		<div class="shell">
			<div id="heading-cnt">
				
				<!-- Sub nav -->
				<div id="side-nav">
					<ul>
					    <li class="active"><div class="link"><a href="index">Strona Główna</a></div></li>
					     <li><div th:if="${session.nameUserLogged == null}">
					    		<a href="registration" class="link">Załóż konto Trenera!</a>
					    	</div>
					    	<div th:if="${session.nameUserLogged == 'admin'}">
					    		<a href="admin" class="link">Strona ADMINA</a>
					    	</div>
					    	<div th:if="${session.nameUserLogged != null}">
					    		<a href="coachSite" class="link">Strona TRENERA</a>
					    	</div></li>
					    <li th:if="${session.nameUserLogged != 'admin'}"><div class="link"><a href="infoSite">Informacje o Stronie</a></div></li>
					    <li th:if="${session.nameUserLogged != 'admin'}"><div class="link"><a href="#">POMOC</a></div></li>
			    	    <li th:if="${session.nameUserLogged != 'admin'}"><div class="link"><a href="contact">KONTAKT</a></div></li>
					</ul>
				</div>
				<!-- End Sub nav -->
				
				<!-- Widget -->
				<div id="heading-box">
					<div id="heading-box-cnt">
						<div class="cl">&nbsp;</div>
						
						<div class="featured-side">
							<div class="featured-side-item">
								<div id="sidebar2">
									<h1 class="green center">Archiwum Nowości</h1><hr></hr>
									<ul class="center">
										<input type="reset" id="previous" class="button2 button-switch" value="&lt;&lt;"/>
										<input type="reset" id="next" class="button2 button-switch" value="&gt;&gt;"/>
										
									    <li th:each="newsObject : ${news}">
									    	<small class="date"> <div th:text="${newsObject.getDate()}"/></small>
									    	<p2 th:text="${newsObject.getMessage()}"/>
									    </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="cl">&nbsp;</div>						
					</div>
				</div>
				<!-- End Widget -->
			</div>			
		</div>
	</div>
	<!-- End Heading -->
	
	<div id="main">
	</div>
	
	<!-- Footer -->
	<div id="footer">
		<div class="shell">
			<div class="cl">&nbsp;</div>
			<!-- <a href="#" class="left">PRIVACY POLICY</a> -->
				<p class="center">System powstał w wyniku realizacji pracy dyplomowej na Wydziale Informatyki Politechniki Białostockiej. </p>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Footer -->
	
	<script type="text/javascript">
	    document.getElementById("previous").onclick = function () {
	        location.href = "/previous";
	    };
	    document.getElementById("next").onclick = function () {
	        location.href = "/next";
	    };
	</script>
</body>
</html>