<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Lista Druzyn</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!--[if lte IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" /><![endif]-->
</head>
<body>
	<!-- Header -->
	<div id="header">
		<div class="shell">
			<!-- Logo -->
			<h1 id="logo" class="notext"><a href="index">Amateur Football</a></h1>
			<!-- End Logo -->
		</div>
	</div>
	<!-- End Header -->
	
	<!-- Navigation -->
	<div id="navigation">
		<div class="shell">
			<div class="cl">&nbsp;</div>
			<ul>
				<li><a href="playerList">Gracze</a></li>
				<li><a href="teamList">Drużyny</a></li>
			    <li><a href="matchResults">Wyniki</a></li>
			    <li><a href="matchSchedule">Harmonogram</a></li>
			    <li><a href="#">Statystyki</a></li>
			    <li><a href="registration">REJESTRACJA</a></li>
			    <li>
				    <a href="login">
				    	<div th:if="${session.nameUserLogged == null}">Zaloguj się</div>
				    	<a th:if="${session.nameUserLogged != null}">
				    		<a href="logout">
				    			<div th:text="${session.nameUserLogged}"/>(WYLOGUJ)
				    		</a>
				    	</a>
				    </a>
			    </li>
			</ul>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Navigation -->
	
	<!-- Heading -->
	<div id="heading">
		<div class="shell">
			<div id="heading-cnt">
				
				<!-- Sub nav -->
				<div id="side-nav">
					<ul>
					    <li class="active"><div class="link"><a href="index">Strona Główna</a></div></li>
					    <li><div th:if="${session.nameUserLogged == null}">
					    		<a href="registration" class="link">Załóż konto Trenera!</a>
					    	</div>
					    	<div th:if="${session.nameUserLogged == 'admin'}">
					    		<a href="admin" class="link">Strona ADMINA</a>
					    	</div>
					    	<div th:if="${session.nameUserLogged != null}">
					    		<a href="coachSite" class="link">Strona TRENERA</a>
					    	</div></li>
					    <li><div class="link"><a href="infoSite">Informacje o stronie</a></div></li>
					    <li><div class="link"><a href="#">POMOC</a></div></li>
			    	    <li><div class="link"><a href="contact">KONTAKT</a></div></li>
					</ul>
				</div>
				<!-- End Sub nav -->
				
				<!-- Widget -->
				<div id="heading-box">
					<div id="heading-box-cnt">
						<div class="featured-side">
							<div class="featured-side-item">
								<div class="center" id="sidebar2">
									<h2 class="center green">Lista Graczy</h2><hr></hr><br></br>
									<div class="error center" th:if="${session.nameUserLogged != null}">! UWAGA !<br></br> Usunięcie gracza spowoduje nieodwracalne wydalenie gracza z Twojej drużyny!!</div>
					
									<input type="reset" id="previous" class="button2 button-switch" value="&lt;&lt;"/>
									<input type="reset" id="next" class="button2 button-switch" value="&gt;&gt;"/><p></p>
									
									<ul>
									    <table border="1" class="center">
									    <tr>
									    	<td>Imie i Nazwisko</td>
									    	<td>Numer Gracza</td>
									    	<td>Pozycja</td>
									    	<td>Wiek Gracza</td>
									    	<td>Nazwa Drużyny</td>
									    	<td></td>
									    </tr>
									    <tr th:each="player : ${playerList}">
										    <td><a th:text="${player.getName()} + ' ' + ${player.getSurname()}"/></td>
									    	<td><p2 th:text="${player.getNumber()}"/></td>
									    	<td><p2 th:text="${player.getPosition()}"/></td>
									    	<td><p2 th:text="${player.getAge()} + ' lat'"/></td>
									    	<div th:if="${player.getTeam() != null}">
									    		<td><p2 th:text="${player.getTeam().getName()}"/></td>
									    		<td><div th:if="${session.idTeamUserLogged == player.getTeam().getId_team()}"><a class="error" th:href="@{/delPlayer/}+${player.getId_player()}">USUŃ GRACZA Z DRUŻYNY</a></div></td>
									    	</div>
									    	<div th:if="${player.getTeam() == null}">
									    		<td></td>
									    		<td></td>
									    	</div>
									    </tr>
									    </table>
									</ul>
								</div>
							</div>
						</div>
						<div class="cl">&nbsp;</div>						
					</div>
				</div>
				<!-- End Widget -->
			</div>			
		</div>
	</div>
	<!-- End Heading -->
	
	<!-- Main -->
	<div id="main">
		<div class="shell">		
			<div class="cl">&nbsp;</div>	
			<div id="content">
				<div class="cl">&nbsp;</div>
			</div>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
		<!-- End Main -->
	
	<!-- Footer -->
	<div id="footer">
		<div class="shell">
			<div class="cl">&nbsp;</div>
			<!-- <a href="#" class="left">PRIVACY POLICY</a> -->
				<p class="center">System powstał w wyniku realizacji pracy dyplomowej na Wydziale Informatyki Politechniki Białostockiej. </p>
			<div class="cl">&nbsp;</div>
		</div>
	</div>
	<!-- End Footer -->
	
	<script type="text/javascript">
	    document.getElementById("previous").onclick = function () {
	        location.href = "/previousPlayers";
	    };
	    document.getElementById("next").onclick = function () {
	        location.href = "/nextPlayers";
	    };
	</script>
</body>
</html>