<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Rejestracja</title>
	<link rel="stylesheet" href="css/style_card_reg.css" type="text/css" media="all" />
</head>

 <body>
	<div class="card">
		<h1>Rejestracja Trenera</h1>
		
		<div th:if="${loginExist == true}">
			<p class="error center">Podany login jest już zajęty!</p>
		</div>
		<div th:if="${differentPasswords == true}">
			<p class="error center">Podane hasła są różne!</p>
		</div>
		
		<form action="#" th:action="@{/registration}" th:object="${user}" method="post">
			<div class="error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"/>
			<input type="text" th:field="*{login}" placeholder="Login" th:class="${#fields.hasErrors('login')}? 'error'" /><br/>
			
			<div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>	
			<input type="password" th:field="*{password}" placeholder="Haslo" th:class="${#fields.hasErrors('password')}? 'error'"/><br/>
	
			<input type="password" name="passwordRepeat" placeholder="Powtórz Haslo"/><br/>
		
			<div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
			<input type="text" th:field="*{name}" placeholder="Imie" th:class="${#fields.hasErrors('name')}? 'error'"/><br/>
		
			<div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"/>
			<input type="text" th:field="*{surname}" placeholder="Nazwisko" th:class="${#fields.hasErrors('surname')}? 'error'"/><br/>
			<input type="submit" class="button button-submit" value="Rejestruj"/>
		</form>
		
		<hr></hr>
		<div class="help">
			<p class="center"><a href="index">Strona Główna</a></p>
		</div>	
	</div>
 </body>
</html>
